<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/global-styles') %>
    <link rel="stylesheet" href="/styles/index.css">
    <title>Home | Members Only</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/flash-messages') %>
    <main>
      <section class="member-ship">
        <% if (!locals.currentUser?.ismember) { %>
          <a href="/member">Become a member</a>
        <% } else { %>
          <p>You are a member!</p>
          <% } %>
        <% if (!locals.currentUser?.isadmin) { %>
          <a href="/admin">Become an admin</a>
        <% } else { %>
          <p>You are an admin!</p>
        <% } %>
      </section>
       <section class="user-hero">
        <% if (locals.currentUser) { %>
         <p>Welcome <a href="/profile"><%= currentUser.first_name %> <%= currentUser.last_name %></a></p>
        <% } else { %>
           <a href="/sign-up">Create an account</a>
           <p>Already have an account? <a href="/log-in">Log in</a></p>
        <% } %>
       </section>
      <% if (locals.allPosts.length > 0) { %>
      <div class="posts-container">
        <% allPosts.forEach(post => { %>
        <div class="post">
          <% if (locals.currentUser?.isadmin) { %>
           <form class="delete-post" action="/post/<%= post.post_id %>/delete?page=<%= page %>" method="post">
            <button type="submit">Delete</button>
           </form>
          <% } %>
          <h2 class='post-author'><%= locals.currentUser?.ismember ? post.author : 'You need to be a member to be able to see the author\'s name and date of each message' %></h2>
          <h3 class="post-title"><%= post.post_title %></h3>
          <p class="post-text"><%= post.post_text %></p>
          <% if (locals.currentUser?.ismember) { %>
            <p class="post-time"><%= post.post_added.toDateString() %>, <%= post.post_added.getHours() %>:<%= post.post_added.getMinutes() %>:<%= post.post_added.getSeconds() %></p>
          <% } %>
        </div>
        <% }) %>
      </div>
      <div class="pagination">
        <% if (page > 1) { %>
         <a href="?page=<%= page - 1 %>">Previous</a>
        <% } %>
        <% for( let i = 1; i <= totalPages; i++ ) { %>
          <a href="?page=<%= i %>" class="<%= i === page ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (page < totalPages) { %>
         <a href="?page=<%= page + 1 %>">Next</a>
        <% } %>
      </div>
      <% } else { %>
        <p class="no-posts">There are no messages yet! <a href="/post/new">Create a new message</a></p>
      <% } %>
    </main>
  </body>
</html>
