<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/global-styles') %>
    <link rel="stylesheet" href="/styles/profile.css" />
    <title><%= currentUser.first_name %> | Profile</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/flash-messages') %>
    <main>
      <aside>
        <h2 class="profile-name"><%= currentUser.first_name %> <%= currentUser.last_name %></h2>
        <p class="profile-username"><span>Email:</span> <%= currentUser.username %></p>
        <div class="profile-membership">
          <p><%= currentUser.ismember ? 'You are a member' : 'You are not a member' %></p>
          <a href="<%= currentUser.ismember ? '/member/remove' : '/member' %>"><%= currentUser.ismember ? 'Remove membership status' : 'Become a member' %></a>
        </div>
        <div class="profile-membership">
          <p><%= currentUser.isadmin ? 'You are an admin' : 'You are not an admin' %></p>
          <a href="<%= currentUser.isadmin ? '/admin/remove' : '/admin' %>"><%= currentUser.isadmin ? 'Remove admin status' : 'Become an admin' %></a>
        </div>
        <a href="/log-out">Log out</a>
      </aside>
      <section class="user-posts">
        <% if (locals.userPosts.length > 0) { %>
          <div class="pagination">
            <% if (page > 1) { %>
              <a href="?page=<%= page - 1 %>">Previous</a>
            <% } %>
            <% for( let i = 1; i <= totalPages; i++ ) { %>
              <a href="?page=<%= i %>" class="<%= i === page ? 'active' : '' %>"><%= i %></a>
            <% } %>
            <% if (page < totalPages) { %>
              <a href="?page=<%= page + 1 %>">Next</a>
            <% } %>
          </div>
          <% userPosts.forEach(post => { %>
            <div class="post">
              <form class="delete-post" action="/post/<%= post.post_id %>/delete?page=<%= page %>" method="post">
                <button type="submit">Delete</button>
              </form>
              <h2 class='post-author'><%= post.author %></h2>
              <h3 class="post-title"><%= post.post_title %></h3>
              <p class="post-text"><%= post.post_text %></p>
              <p class="post-time"><%= post.post_added.toDateString() %>, <%= post.post_added.getHours() %>:<%= post.post_added.getMinutes() %>:<%= post.post_added.getSeconds() %></p>
            </div>
          <% }) %>
        <% } else { %>
          <p class="no-posts">You have no posts! <a href="/post/new">Create a new post</a></p>
        <% } %>%>
      </section>
    </main>
  </body>
</html>
